<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Rainy Hills</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="resources/js/controllers.js"></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet">

    <script>
        var contextPath =  window.location.pathname.substring(0, window.location.pathname.indexOf("/",2));
    </script>

</head>

<body>
<div ng-controller="HillsController">
    <h4>Try left click to creates hill and double click to clear whole row</h4>
    <table class="table; width: 100%">
        <tbody>
        <tr ng-repeat="cols in rows">
            <td ng-repeat = "col in cols" ng-class="{green: (col.v == 1), white: (col.v == 0)}">
                <span ng-click="$evalAsync(cellClick(col.r, col.c))" ng-dblclick="cellDblClick(col.r, col.c)">
                    {{col.v}}</span></td>
        </tr>
        </tbody>
    </table>
    <br>
    <button ng-click="calculateVolume()">
        Calculate Volume
    </button>
    <br>
    <h4>Volume: {{volume}}</h4>
    </div>
</div>
</body>
</html>